/* Box Model Fix */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0px;
}

main {
    width: 100vw;
}

h1, h1+p {
    text-align: center;
}

#line-chart {
    height: 60vh;
    width:80%;
    margin: 0 auto;
}

form {
    max-width:600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

form input {
    height:30px;
}

#comments {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    width: 60vw;
    min-width: 300px;
}

#comments h2, #comments h3{
    text-align: center;
}

#comments p{
    margin-top: 20px;
    text-align: center;
}